body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2.35rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

h4 {
    font-size: 1.35rem;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 10;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    margin: 70px auto 0 auto;
}

a:link, a:visited {
    color: seashell;
}

a:hover, a:active {
    color: #dac8bb;
}

.logo {
    height: 50px;
    width: auto;
    margin-left: 10px;
}

.mission-statement {
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: black;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 370px;
}

.tea-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tea-div {
    display: inline;
    margin: 15px;
}

.tea-img {
    height: 200px;
    width: 300px;
}

#mission {
  width: 1200px;
  position: relative;
}